---
layout: default
---

{% for post in paginator.posts %}
{% include post_content.html %}
{% endfor %}
<div>
    <ul class="pure-paginator pagination-centered">
        <li>
            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a class="pure-button prev" href="/">&#171;</a>
            {% else %}
            <a class="pure-button prev" href="{{ paginator.previous_page_path }}">&#171;</a>
            {% endif %}
            {% else %}
            <a class="pure-button prev pure-button-disabled" href="/">&#171;</a>
            {% endif %}
        </li>
        {% if paginator.page == 1 %}
        <li><a class="pure-button pure-button-active" href="/">1</a></li>
        {% else %}
        <li><a class="pure-button" href="/">1</a></li>
        {% endif %}

        {% for count in (2..paginator.total_pages) %}
        <li>
            {% if count == paginator.page %}
            <a class="pure-button pure-button-active" href="/page{{ count }}">{{ count }}</a>
            {% else %}
            <a class="pure-button" href="/page{{ count }}">{{ count }}</a>
            {% endif %}
        </li>
        {% endfor %}

        <li>
            {% if paginator.next_page %}
            <a class="pure-button next" href="{{ paginator.next_page_path }}">&#187;</a>
            {% else %}
            <a class="pure-button next pure-button-disabled" href="/">&#187;</a>
            {% endif %}
        </li>
    </ul>
</div>
