<section class="post pure-u-1">
  <header class="post-header">    
    {% if detail %}
      <h2 class="post-title pure-u-1">{{ post.title }}</h2>
    {% else %}
      <h2 class="post-title pure-u-1"><a class="title" href="{{ post.url }}">{{ post.title }}</a></h2>
    {% endif %}
      <p class="post-meta pure-u-1">
        by {{ site.author.name }} on {{ post.date | date:'%A, %B %d, %Y' | replace:' 0',' ' }}
        {% for tag in page.tags %}
          <a class="post-category post-category-pure">{{ tag }}</a>
        {% endfor %}
      </p>
  </header>

  <div class="post-description pure-u-1">
    {% if detail %}
      {{ content }}

      <div id="disqus_thread" class="comments"></div>
      <script type="text/javascript">
          var disqus_shortname = 'markwolfesblog';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    {% else %}
      <p>{{ post.excerpt }}</p>
    {% endif %}
  </div>
    
</section>
