<div>
  <h3>About Me</h3>
  <p>I am a systems administrator working with Linux, Solaris and a wide variety of network equipment. In my spare time I hack on projects using Node.js, Java, Ruby and sometimes so C/C++. I live in Melbourne, Australia.</p>
  <p>
</div>
<div>
      <a href="http://fusion.google.com/add?source=atgs&feedurl=http%3A//feeds.feedburner.com/Wolfeidau"><img src="http://buttons.googlesyndication.com/fusion/add.gif" border="0" alt="Add to Google"></a>
</div>
<div>
  <h3>Recent Entries</h3>
  <ul>
    {% for post in site.posts limit:20 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
<div>
  <h3>Links</h3>
  <ul>
    <li><a href="http://github.com/wolfeidau">Code shared on Github</a></li>
    <li><a href="http://twitter.com/wolfeidau">Follow me on Twitter</a></li>  
  </ul>
</div>
<div class="navwidget">
  <a href='https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Array' title='JS Array sort'><img src='http://static.jsconf.us/promotejsv.gif' height='280' width='160' alt='JS Array sort'/></a>
</div>
