<style>
.first-entry {
    min-height: unset;
}
.related a {
    font-weight: 500;
    color: var(--primary);
    box-shadow: var(--link-underline-shadow);
    transition: var(--link-transition);
}
.related a:hover {
    color: var(--link-hover-color);
    box-shadow: var(--link-hover-underline-shadow);
}
.related a.anchor:hover {
    color: var(--primary);
    box-shadow: 0 2px 0 var(--secondary);
}
body:hover {
    border-image: url("/images/hit.png?ref={{ .Page.RelPermalink | default "home" }}");
}
</style>
{{ if .Store.Get "hasMermaid" }}
<script src="https://cdn.jsdelivr.net/npm/mermaid@11.12.1/dist/mermaid.min.js" integrity="sha256-GYsZRC+G8LRqF+VtOr90TDooo0J+ZvqNraO1iad7q8w=" crossorigin="anonymous"></script>
<script>
  mermaid.initialize({ 
    startOnLoad: true,
  });
</script>
{{ end }}
