name: 'Push'

# The workflow should only trigger on push events to the main branch
on:
  push:
    branches:
      - master

# Required to get the ID Token that will be used for OIDC
permissions:
  id-token: write

jobs:

  deploy-prod:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          submodules: true

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-region: ${{ secrets.PROD_DEPLOY_REGION }}
          role-to-assume: ${{ secrets.PROD_DEPLOY_ROLE }}
          role-session-name: OIDCSession
      
      - name: build
        run: make docker-build
      
      - name: upload
        env:
          STAGE: prod
        run: make upload